
body {
    background: #ebeef0;
}

.panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 0px;
}

    .panel .panel-heading, .panel > :first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.chat-text {
    position: relative;
    height: 50px;
    padding: 0;
    border-bottom: 1px solid #eee;
}

.panel-control {
    height: 100%;
    position: relative;
    float: right;
    padding: 0 15px;
}

.panel-title {
    font-weight: normal;
    padding: 0 20px 0 20px;
    font-size: 1.416em;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-control > .btn:last-child, .panel-control > .btn-group:last-child > .btn:first-child {
    border-bottom-right-radius: 0;
}

.panel-control .btn, .panel-control .dropdown-toggle.btn {
    border: 0;
}

.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

    .nano > .nano-content {
        position: absolute;
        overflow: scroll;
        overflow-x: hidden;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

.pad-all {
    padding: 15px;
}

.mar-btm {
    margin-bottom: 15px;
}

.media-block .media-left {
    display: block;
    float: left;
}

.img-sm {
    width: 46px;
    height: 46px;
}

.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto;
}

.pad-hor {
    padding-left: 15px;
    padding-right: 15px;
}

.speech {
    position: relative;
    background: #b7dcfe;
    color: #317787;
    display: inline-block;
    border-radius: 0;
    padding: 12px 20px;
}

    .speech:before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        top: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 7px solid #b7dcfe;
        margin: 15px 0 0 -6px;
    }

.speech-right > .speech:before {
    left: auto;
    right: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #ffdc91;
    border-right: 0;
    margin: 15px -6px 0 0;
}

.speech .media-heading {
    font-size: 1.2em;
    color: #317787;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: 300;
}

.speech-time {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: .8em;
    font-weight: 300;
}

.media-block .media-right {
    float: right;
}

.speech-right {
    text-align: right;
}

.pad-hor {
    padding-left: 15px;
    padding-right: 15px;
}

.speech-right > .speech {
    background: #ffda87;
    color: #a07617;
    text-align: right;
}

    .speech-right > .speech .media-heading {
        color: #a07617;
    }

.btn-primary, .btn-primary:focus, .btn-hover-primary:hover, .btn-hover-primary:active, .btn-hover-primary.active, .btn.btn-active-primary:active, .btn.btn-active-primary.active, .dropdown.open > .btn.btn-active-primary, .btn-group.open .dropdown-toggle.btn.btn-active-primary {
    background-color: #579ddb;
    border-color: #5fa2dd;
    color: #fff !important;
    float: right;
}

.btn {
    cursor: pointer;
    /* background-color: transparent; */
    color: inherit;
    padding: 6px 12px;
    border-radius: 0;
    border: 1px solid 0;
    font-size: 11px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .25s;
    transition: all .25s;
}

.form-control {
    font-size: 11px;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #e9e9e9;
    transition-duration: .5s;
    width: 100%;
    height: 5%;
}

.nano > .nano-pane {
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    width: 5px;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all .7s;
    transition: all .7s;
}
