﻿
@{
    ViewBag.Title = "Activate Program";
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";
}

<h2>My Inactive Programs</h2>

<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
    <thead>
        <tr>
            <th>
                Title
            </th>
        
            <th>
                Active
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.Program != null)
            {
                foreach (var program in Model.Program)
                {
                    <tr>
                        <td>
                            @program.Title
                        </td>
                      
                        <td>
                            @program.IsActive
                        </td>
                        <td>
                            <a href="@Url.Action("ProgramDetail", "Home", new {programID = @program.Id})">Details </a><br/>

                            <a href="@Url.Action("EditProgram", "Home", new {programID = @program.Id})">Update </a><br />

                            <a href="@Url.Action("ActivateProgram", "Home", new {programID = @program.Id})">Activate</a><br/>

                            <a href="@Url.Action("DeleteProgram", "Home", new {programID = @program.Id})" onclick="return deleteItem()">Delete </a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
