﻿@using Workout.Business.Models.Enums

@{
    ViewBag.Title = "AddProgram";
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";
}

@{
    if (Model.Workout.Count > 0)
    {

        <h1>Add Program</h1><br />
        <style>
          

            h1 {
                padding: .2em;
                margin: 0;
            }

            #products {
                float: left;
                width: 500px;
                margin-right: 2em;
            }

            #cart {
                width: 200px;
                float: left;
                margin-top: 1em;
            }
                /* style the list to maximize the droppable hitarea */
                #cart ol {
                    margin: 0;
                    padding: 1em 0 1em 3em;
                }
        </style>
        <script>

            $(function () {
                var $tabs1 = $('#table-draggable1');
                $("tbody.connectedSortable")
                    .sortable({
                        connectWith: ".connectedSortable",
                        items: "> tr:not(:first-child)",
                        appendTo: $tabs1,
                        helper: "clone",
                        zIndex: 999990,
                        remove: function (event, ui) {
                            ui.item.clone().appendTo('#table-draggable2');
                            $(this).sortable('cancel');
                        }
                    })
                    .disableSelection()
                ;

                var $tabs = $('#table-draggable2');
                $("tbody.connectedSortable")
                    .sortable({
                        connectWith: ".connectedSortable",
                        items: "> tr:not(:first-child)",
                        appendTo: $tabs,
                        helper: "clone",
                        zIndex: 999990
                    })
                    .disableSelection()
                ;

                var $tab_items = $(".nav-tabs > li", $tabs).droppable({
                    accept: ".connectedSortable tr",
                    hoverClass: "ui-state-hover",

                    drop: function (event, ui) {
                        
                        return false;
                    }
                });
            });

        </script>
        <form class="form-horizontal create-program-form">
            <fieldset>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="form-program-title">Title</label>
                    <div class="col-md-4">
                        <input id="title" name="title" type="text" placeholder="Sprint Title" class="form-control input-md" required="">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="form-program-subtitle">Subtitle</label>
                    <div class="col-md-4">
                        <input id="subtitle" name="subtitle" type="text" placeholder="Sprint Subtitle" class="form-control input-md" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="form-program-level">Level</label>
                    <div class="col-md-4">
                        <select id="form-program-level" name="level" class="form-select form-gender" autocomplete="off" required="">
                            @{
                                Array levels = Enum.GetValues(typeof(Workout.Business.Models.Enums.ProgramLevels));

                                foreach (var i in levels)
                                {
                                    <option value="@Convert.ToInt32(i)">@Enum.GetName(typeof(Workout.Business.Models.Enums.ProgramLevels), i)</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="form-program-category">Category</label>
                    <div class="col-md-4">
                        <select id="form-program-category" name="level" class="form-select form-gender" autocomplete="off" required="">
                            @{
                                Array category = Enum.GetValues(typeof(Workout.Business.Models.Enums.ProgramCategory));

                                foreach (var i in category)
                                {
                                    <option value="@Convert.ToInt32(i)">@Enum.GetName(typeof(Workout.Business.Models.Enums.ProgramCategory), i)</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="form-program-information">Information</label>
                    <div class="col-md-4">
                        <textarea class="form-control" id="information" name="information" placeholder="Program Explanation Here ..."></textarea>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-md-4 control-label" for="form-program-selectedworkouts">Your Workouts</label>
                    <div id="AllWorkouts" class="col-md-4">

                        <h4>All Workouts of You</h4>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="form-workout-category">Category</label>
                            <div class="col-md-4">
                                <select id="form-workout-category" name="category" class="form-select form-gender" autocomplete="off" required="">
                                    @{
                                        Array categories = Enum.GetValues(typeof (Workout.Business.Models.Enums.WorkoutCategory));

                                        foreach (var i in categories)
                                        {
                                            <option value="@Convert.ToInt32(i)">@Enum.GetName(typeof (Workout.Business.Models.Enums.WorkoutCategory), i)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="form-workout-class">Class</label>
                            <div class="col-md-4">
                                <select id="form-workout-class" name="wclass" class="form-select form-class" autocomplete="off" required="">
                                    @{
                                        Array classes = Enum.GetValues(typeof (Workout.Business.Models.Enums.WorkoutClass));

                                        foreach (var i in classes)
                                        {
                                            <option value="@Convert.ToInt32(i)">@Enum.GetName(typeof (Workout.Business.Models.Enums.WorkoutClass), i)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="#" class="btn btn-primary" onclick="GetFilteredWorkouts()"> Get Workouts </a>
                        </div>

                        <table class="table table-bordered table-striped table-hover table-condensed table-responsive" id='table-draggable1'>
                          
                            <tbody class="connectedSortable">
                                <tr class="my-workouts-tr">
                                    <th>
                                        Workout
                                    </th>
                                    <th>
                                        Category
                                    </th>
                                    <th>
                                        Class
                                    </th>
                                    <th>
                                        Period
                                    </th>
                                    <th>
                                        Repeat
                                    </th>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-md-4 control-label" for="form-program-selectedworkouts">Selected Workouts</label>
                    <div id="SelectedWorkouts" class="col-md-4">

                        <h4>Selected Workouts</h4>
                    
                        <table class="table table-bordered table-striped table-hover table-condensed table-responsive" id='table-draggable2'>
                         
                            <tbody class="connectedSortable">
                                <tr>
                                    <th>
                                        Workout
                                    </th>
                                    <th>
                                        Category
                                    </th>
                                    <th>
                                        Class
                                    </th>
                                    <th>
                                        Period
                                    </th>
                                    <th>
                                        Repeat
                                    </th>
                                </tr>
                           
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <a href="#" class="btn btn-danger btn-create-program"><i class="fa fa-sign-out fa-fw"></i>Save</a>
                </div>

            </fieldset>
        </form>


    }
    else
    {
        <h2>Add workout before create program</h2>
    }

}


