﻿@using System.Web.UI.WebControls
@using Workout.Business.Models.Enums

@{
    ViewBag.Title = "AddWorkout";
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";
    var error = ViewBag.Error;
}

<script>
    var parseQueryString = function () {

        var str = window.location.search;
        var objURL = {};

        str.replace(
            new RegExp("([^?=&]+)(=([^&]*))?", "g"),
            function ($0, $1, $2, $3) {
                objURL[$1] = $3;
            }
        );
        return objURL;
    };
    var params = parseQueryString();

    var error = params["error"];

    if (typeof error !== "undefined") {
        var text = decodeURIComponent(error);
        alert(text);
    }
</script>
<h1>Add Workout</h1><br />
<h4>Step 1 : Upload a video</h4>
<div class="form-group">
    @using (Html.BeginForm("UploadFile", "Workout", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" style="display: inline-block" />
        <input type="submit" value="Upload" />
    }

</div>
<fieldset>
    <div class="form-group form-horizontal">
        <label class="col-md-4 control-label" for="form-workout-video">Video ID</label>
        <div class="col-md-4">
            <input id="form-workout-video-info" name="videoinfo" type="text" placeholder="Please upload your video file" class="form-control input-md" value="@Session["FileName"]" readonly="readonly">
        </div>
    </div>
</fieldset>
<br />

<h4>Step 2 : Fill the form and save</h4>
<form class="form-horizontal create-workout-form">
    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-workout-name">Workout Name</label>
            <div class="col-md-4">
                <input id="form-workout-name" name="name" type="text" placeholder="Sprint" class="form-control input-md" required="">

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-workout-title">Title</label>
            <div class="col-md-4">
                <input id="form-workout-title" name="title" type="text" placeholder="Sprint Title" class="form-control input-md" required="">

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-workout-subtitle">Subtitle</label>
            <div class="col-md-4">
                <input id="form-workout-subtitle" name="subtitle" type="text" placeholder="Sprint Subtitle" class="form-control input-md" required="">

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-workout-information">Information</label>
            <div class="col-md-4">
                <textarea class="form-control" id="form-workout-information" name="information" placeholder="Workout Explanation Here ..."></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="form-workout-category">Category</label>
            <div class="col-md-4">
                <select id="form-workout-category" name="category" class="form-select form-gender" autocomplete="off" required="">
                    @{
                        Array categories = Enum.GetValues(typeof(Workout.Business.Models.Enums.WorkoutCategory));

                        foreach (var i in categories)
                        {
                            <option value="@Convert.ToInt32(i)">@Enum.GetName(typeof(Workout.Business.Models.Enums.WorkoutCategory), i)</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-workout-class">Class</label>
            <div class="col-md-4">
                <select id="form-workout-class" name="wclass" class="form-select form-class" autocomplete="off" required="">
                    @{
                        Array classes = Enum.GetValues(typeof(Workout.Business.Models.Enums.WorkoutClass));

                        foreach (var i in classes)
                        {
                            <option value="@Convert.ToInt32(i)">@Enum.GetName(typeof(Workout.Business.Models.Enums.WorkoutClass), i)</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <input id="form-workout-video" name="video" type="hidden" class="form-control input-md" value="@Session["FileName"]" required="" readonly="readonly">

            </div>
        </div>

        <div class="form-group">
            <a href="#" class="btn btn-danger btn-create-workout"><i class="fa fa-sign-out fa-fw"></i>Save</a>
        </div>

    </fieldset>
</form>




