﻿
@{
    ViewBag.Title = "AllPrograms";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var programs = ViewBag.Programs;
}
<style>
    body {
        width: 1000px;
        margin: auto;
    }
</style>
<h2>All Programs</h2>
<script>
    var parseQueryString = function () {

        var str = window.location.search;
        var objURL = {};

        str.replace(
            new RegExp("([^?=&]+)(=([^&]*))?", "g"),
            function ($0, $1, $2, $3) {
                objURL[$1] = $3;
            }
        );
        return objURL;
    };
    var params = parseQueryString();

    var error = params["message"];

    if (typeof error !== "undefined") {
        var text = decodeURIComponent(error);
        alert(text);
    }
</script>
<div class="container">
    <div class="row text-center program-list">
        @foreach (var program in programs)
        {
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="~/Assets/img/Programs/@{@program.Category}.jpg" alt="">
                    <div class="caption" style="height: 160px!important">
                        <h3>@program.Title</h3>
                        <p>@program.Subtitle</p>
                        <p>
                            <a href="@Url.Action("JoinToProgram", "Workout", new { ProgramID = @program.Id })" class="btn btn-primary">Join to program -> </a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
