﻿
@{
    ViewBag.Title = "EditProgram";
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";
    var workouts = ViewBag.SelectedWorkouts;
    var program = ViewBag.Program.Program;
}

<h1>Edit Program</h1><br />
<style>
    h1 {
        padding: .2em;
        margin: 0;
    }

    #products {
        float: left;
        width: 500px;
        margin-right: 2em;
    }

    #cart {
        width: 200px;
        float: left;
        margin-top: 1em;
    }

        #cart ol {
            margin: 0;
            padding: 1em 0 1em 3em;
        }
</style>
<script>
    $(function () {
        var $tabs1 = $('#table-draggable1');
        $("tbody.connectedSortable")
            .sortable({
                connectWith: ".connectedSortable",
                items: "> tr:not(:first-child)",
                appendTo: $tabs1,
                helper: "clone",
                zIndex: 999990
            })
            .disableSelection()
        ;

        var $tabs = $('#table-draggable2');
        $("tbody.connectedSortable")
            .sortable({
                connectWith: ".connectedSortable",
                items: "> tr:not(:first-child)",
                appendTo: $tabs,
                helper: "clone",
                zIndex: 999990
            })
            .disableSelection()
        ;

        var $tab_items = $(".nav-tabs > li", $tabs).droppable({
            accept: ".connectedSortable tr",
            hoverClass: "ui-state-hover",

            drop: function (event, ui) {
                return false;
            }
        });
    });
</script>
<form class="form-horizontal update-program-form">
    <fieldset>

        <div class="form-group">
            <label class="col-md-4 control-label" for="form-program-title">Title</label>
            <div class="col-md-4">
                <input id="title" name="title" type="text" value="@program.Title" class="form-control input-md" required="">

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-program-subtitle">Subtitle</label>
            <div class="col-md-4">
                <input id="subtitle" name="subtitle" type="text" value="@program.Subtitle" class="form-control input-md" required="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-program-level">Level</label>
            <div class="col-md-4">
                <select id="form-program-level" name="level" class="form-select form-gender" autocomplete="off" required="">
                    @{
                        Array levels = Enum.GetValues(typeof (Workout.Business.Models.Enums.ProgramLevels));

                        foreach (var i in levels)
                        {
                            if (Enum.GetName(typeof(Workout.Business.Models.Enums.ProgramLevels), Convert.ToInt32(program.ProgramLevel)) == Enum.GetName(typeof (Workout.Business.Models.Enums.ProgramLevels), Convert.ToInt32(i)))
                            {
                                <option value="@Convert.ToInt32(i)" selected>@Enum.GetName(typeof (Workout.Business.Models.Enums.ProgramLevels), Convert.ToInt32(i))</option>
                            }
                            else
                            {
                                <option value="@Convert.ToInt32(i)">@Enum.GetName(typeof (Workout.Business.Models.Enums.ProgramLevels), Convert.ToInt32(i))</option>
                            }
                        }
                    }

               
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-program-category">Category</label>
            <div class="col-md-4">
                <select id="form-program-category" name="category" class="form-select form-gender" autocomplete="off" required="">
                    @{
                        Array categories = Enum.GetValues(typeof(Workout.Business.Models.Enums.ProgramCategory));

                        foreach (var i in categories)
                        {
                            if (Enum.GetName(typeof(Workout.Business.Models.Enums.ProgramCategory), Convert.ToInt32(program.ProgramCategory)) == Enum.GetName(typeof(Workout.Business.Models.Enums.ProgramCategory), i))
                            {
                                <option value="@Convert.ToInt32(i)" selected>@Enum.GetName(typeof(Workout.Business.Models.Enums.ProgramCategory), Convert.ToInt32(i))</option>
                            }
                            else
                            {
                                <option value="@Convert.ToInt32(i)">@Enum.GetName(typeof(Workout.Business.Models.Enums.ProgramCategory), Convert.ToInt32(i))</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-program-information">Information</label>
            <div class="col-md-4">
                <textarea class="form-control" id="information" name="information">@program.Information</textarea>
            </div>
        </div>
           <div class="form-group ">
                    <label class="col-md-4 control-label" for="form-program-selectedworkouts">Your Workouts</label>
                    <div id="AllWorkouts" class="col-md-4">

                        <h4>All Workouts of You</h4>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="form-workout-category">Category</label>
                            <div class="col-md-4">
                                <select id="form-workout-category" name="category" class="form-select form-gender" autocomplete="off" required="">
                                    @{
                                        Array categorieList = Enum.GetValues(typeof(Workout.Business.Models.Enums.WorkoutCategory));

                                        foreach (var i in categorieList)
                                        {
                                            <option value="@Convert.ToInt32(i)">@Enum.GetName(typeof(Workout.Business.Models.Enums.WorkoutCategory), i)</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="form-workout-class">Class</label>
                            <div class="col-md-4">
                                <select id="form-workout-class" name="wclass" class="form-select form-class" autocomplete="off" required="">
                                    @{
                                        Array classes = Enum.GetValues(typeof(Workout.Business.Models.Enums.WorkoutClass));

                                        foreach (var i in classes)
                                        {
                                            <option value="@Convert.ToInt32(i)">@Enum.GetName(typeof(Workout.Business.Models.Enums.WorkoutClass), i)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="#" class="btn btn-primary" onclick="GetFilteredWorkouts()"> Get Workouts </a>
                        </div>

                        <table class="table table-bordered table-striped table-hover table-condensed table-responsive" id='table-draggable1'>
                          
                            <tbody class="connectedSortable">
                                <tr class="my-workouts-tr">
                                    <th>
                                        Workout
                                    </th>
                                    <th>
                                        Category
                                    </th>
                                    <th>
                                        Class
                                    </th>
                                    <th>
                                        Period
                                    </th>
                                    <th>
                                        Repeat
                                    </th>
                                </tr>
                             
                            </tbody>
                        </table>
                    </div>
                </div>
        <div class="form-group ">
            <label class="col-md-4 control-label" for="form-program-selectedworkouts">Workouts of Program</label>

            <div id="AllWorkouts" class="col-md-4">

                <h4>All Workouts of Program</h4>
                <table class="table table-bordered table-striped table-hover table-condensed table-responsive" id='table-draggable2'>

                    <tbody class="connectedSortable">
                        <tr>
                            <th>
                                Workout
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Class
                            </th>
                            <th>
                                Period
                            </th>
                            <th>
                                Repeat
                            </th>
                        </tr>
                        @{
                            if (workouts != null)
                            {
                                foreach (var workout in workouts)
                                {
                                    <tr>
                                        <td data-id="@workout.Workout.ID.ToString()" data-relationid ="@workout.RelationId.ToString()">
                                            @workout.Workout.Title
                                        </td>
                                        <td>
                                            @Enum.GetName(typeof(Workout.Business.Models.Enums.WorkoutCategory), @workout.Workout.Category)
                                        </td>
                                        <td>
                                            @Enum.GetName(typeof(Workout.Business.Models.Enums.WorkoutClass), @workout.Workout.WClass)

                                        </td>
                                        <td>
                                            <input type="number" class="workout-period" min="0"  style="width: 50px;" value="@workout.Period" />
                                        </td>
                                        <td>
                                            <input type="number" class="workout-repeat" min="0" style="width: 50px;" value="@workout.Repeat" />
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <input type="hidden" class="program-id" value="@program.Id" />
        </div>
        <div class="form-group">
            <a href="#" class="btn btn-danger btn-update-program"><i class="fa fa-sign-out fa-fw"></i>Update</a>
        </div>

    </fieldset>
</form>



