﻿
@{
    ViewBag.Title = "EditWorkout";
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";
    var workout = ViewBag.Workout.Workout;
    var videoID = Session["FileName"];

    if (videoID == null)
    {
        videoID = @workout.Video;
    }


}

<h2>EditWorkout</h2>
<br />
<h4>Step 1 : Upload a video if you want to change</h4>
<div class="form-group">
    @using (Html.BeginForm("UploadFileForEdit", "Workout", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <input type="file" name="file" style="display: inline-block !important;"/>
        <input type="submit" value="Upload"/>
        <input type="hidden" name="workoutID" value="@workout.ID"/>
    }
</div>
<script>
    var parseQueryString = function () {

        var str = window.location.search;
        var objURL = {};

        str.replace(
            new RegExp("([^?=&]+)(=([^&]*))?", "g"),
            function ($0, $1, $2, $3) {
                objURL[$1] = $3;
            }
        );
        return objURL;
    };
    var params = parseQueryString();

    var error = params["error"];

    if (typeof error !== "undefined") {
        var text = decodeURIComponent(error);
        alert(text);
    }
</script>
<h4>Step 2 : Change the form and save</h4>
<form class="form-horizontal update-workout-form">
    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-workout-name">Workout Name</label>
            <div class="col-md-4">
                <input id="form-workout-name" name="name" type="text" value="@workout.Name" class="form-control input-md" required="">

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-workout-title">Title</label>
            <div class="col-md-4">
                <input id="form-workout-title" name="title" type="text" value="@workout.Title" class="form-control input-md" required="">

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-workout-subtitle">Subtitle</label>
            <div class="col-md-4">
                <input id="form-workout-subtitle" name="subtitle" type="text" value="@workout.Subtitle" class="form-control input-md" required="">

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-workout-information">Information</label>
            <div class="col-md-4">
                <textarea class="form-control" id="form-workout-information" name="information">@workout.Information</textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="form-workout-category">Category</label>
            <div class="col-md-4">
                <select id="form-workout-category" name="category" class="form-select form-gender" autocomplete="off" required="">
                    @{
                        Array categories = Enum.GetValues(typeof(Workout.Business.Models.Enums.WorkoutCategory));

                        foreach (var i in categories)
                        {
                            if (workout.Category == Enum.GetName(typeof(Workout.Business.Models.Enums.WorkoutCategory), i))
                            {
                                <option value="@Convert.ToInt32(i)" selected>@Enum.GetName(typeof(Workout.Business.Models.Enums.WorkoutCategory), i)</option>
                            }
                            else
                            {
                                <option value="@Convert.ToInt32(i)">@Enum.GetName(typeof(Workout.Business.Models.Enums.WorkoutCategory), i)</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-workout-class">Class</label>
            <div class="col-md-4">
                <select id="form-workout-class" name="wclass" class="form-select form-class" autocomplete="off" required="">
                    @{
                        Array classes = Enum.GetValues(typeof(Workout.Business.Models.Enums.WorkoutClass));

                        foreach (var i in classes)
                        {
                            if (workout.Class == Enum.GetName(typeof(Workout.Business.Models.Enums.WorkoutClass), i))
                            {
                                <option value="@Convert.ToInt32(i)" selected>@Enum.GetName(typeof(Workout.Business.Models.Enums.WorkoutClass), i)</option>
                            }
                            else
                            {
                                <option value="@Convert.ToInt32(i)">@Enum.GetName(typeof(Workout.Business.Models.Enums.WorkoutClass), i)</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-workout-video">Video ID</label>
            <div class="col-md-4">
                <input id="form-workout-video" name="video" type="text" placeholder="Please upload your video file" class="form-control input-md" value="@videoID" required="" readonly="readonly">
            </div>
        </div>
        <input type="hidden" id="workout-id" value="@workout.ID" />
        <div class="form-group">
            <a href="#" class="btn btn-danger btn-update-workout"><i class="fa fa-sign-out fa-fw"></i>Update</a>
        </div>

    </fieldset>
</form>
