﻿@using Workout.Business.Models.Enums

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
  
}

@{
    if (ViewBag.Username != null)
    {
        <div class="container">

            <header class="jumbotron hero-spacer">
                <h1>Welcome, @ViewBag.Username</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
                <p>
                    <a href="@Url.Action("MyAllProgramsUser","Home")" class="btn btn-primary btn-large">My Programs</a>
                </p>
            </header>
            <hr>

            <div class="row">
                <div class="col-lg-12">
                    <h3>Programs</h3>
                </div>
            </div>

            <div class="row text-center program-list">

                @foreach (var program in ViewBag.MyPrograms)
                {
                        if (program != null)
                        {
                            var category = Enum.GetName(typeof(ProgramCategory), program.ProgramCategory);

                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail">
                                <img src="~/Assets/img/Programs/@{@category}.jpg" alt="">
                                <div class="caption" style="height: 160px !important">
                                    <h3>@program.Title</h3>
                                    <p>@program.Subtitle</p>
                                    <p>
                                        <a href="@Url.Action("MyProgramsUser", "Home", new {programId = @program.ID, userId = ViewBag.User.ID} )" class="btn btn-primary">Go to program -> </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }

                }

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="~/Assets/img/Programs/default.jpg" />
                        <div class="caption" style="height: 160px !important">
                            <h3>Programs</h3>
                            <p>Join us for see our programs</p>
                            <p>
                                <a href="@Url.Action("AllPrograms", "Home")" class="btn btn-primary">All Programs -> </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>



            <hr>

           
        </div>
    }
    else
    {
        <div class="container">

            <header class="jumbotron hero-spacer">
                <h1>Be Fit !</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
                <p>
                    <a href="@Url.Action("Register","Home")" class="btn btn-primary btn-large">Register to start !</a>
                </p>
            </header>
            <hr>

            <div class="row">
                <div class="col-lg-12">
                    <h3>Latest Features</h3>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="http://thepaleodiet.com/wp-content/uploads/2015/07/outdoor-workouts.jpg" alt="">
                        <div class="caption" style="height: 160px !important">
                            <h3>Feature Program Label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p>
                                <a href="#" class="btn btn-primary">Join us for see our programs</a> <a href="#" class="btn btn-default">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="http://www.cangguclub.com/wp-content/uploads/2016/12/20161214-blog-finns-fitness.jpg" alt="">
                        <div class="caption" style="height: 160px !important">
                            <h3>Feature Program Label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p>
                                <a href="#" class="btn btn-primary">Join us for see our programs</a> <a href="#" class="btn btn-default">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="http://www.vcmbc.com/wp-content/uploads/2016/10/hiit-cardio-800x500_c.jpg" alt="">
                        <div class="caption" style="height: 160px !important">
                            <h3>Feature Program Label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p>
                                <a href="#" class="btn btn-primary">Join us for see our programs</a> <a href="#" class="btn btn-default">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="https://cdn.muscleandstrength.com/sites/default/files/field/feature-image/workout/dumbbar-supersets.jpg" alt="">
                        <div class="caption" style="height: 160px !important">
                            <h3>Feature Program Label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p>
                                <a href="#" class="btn btn-primary">Join us for see our programs</a> <a href="#" class="btn btn-default">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

           
        </div>
    }
}


