﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workout - Login</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/assets/font-awesome/css/font-awesome.min.css">
    <link href="~/Assets/style.css" rel="stylesheet" />
    <link href="~/Assets/form-elements.css" rel="stylesheet" />

    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Assets/ico/apple-touch-icon-57-precomposed.png">

</head>
<body>
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>Workout</strong> - Login</h1>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Login to Workout</h3>
                                <p>Enter your email and password to log on:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form role="form"  class="login-form">
                                <div class="form-group">
                                    <label class="sr-only" for="form-email">Email</label>
                                    <input type="text" name="email" placeholder="Email..." class="form-email form-control" id="form-email">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">Password</label>
                                    <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
                                    <input type="hidden" value="@Request.QueryString["url"]" name="url" />
                                </div>
                                <a href="#" class="btn-login btn btn-success" style="margin-left: 10px;">Sign In</a>
                                <a href="/Home/Register" class="btn btn-primary" style="margin-left: 10px;">Register</a>
                                <a href="/Home/SecurityControl" class="btn btn-danger" style="margin-left: 10px;">Reset Password</a>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <script src="~/Assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/Assets/js/jquery.backstretch.min.js"></script>
    <script src="~/Assets/js/scripts.js"></script>
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/Sha1.js"></script>
    <script src="~/Assets/js/Functions.js"></script>
    <script src="~/Assets/js/jquery.validate.min.js"></script>
    <!--[if lt IE 10]>
        <script src="~/Assets/js/placeholder.js"></script>
    <![endif]-->

</body>

</html>