﻿
@{
    ViewBag.Title = "MyAllProgramsUser";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var programs = ViewBag.Programs;
}
<style>
    body {
        width: 1000px;
        margin: auto;
    }
</style>
<h2>My Programs</h2>

<div class="container">
    <div class="row text-center program-list">
        @foreach (var program in programs)
        {
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="~/Assets/img/Programs/@{@program.Category}.jpg" alt="">
                    <div class="caption" style="height: 160px!important">
                        <h3>@program.Title</h3>
                        <p>@program.Subtitle</p>
                        <p>
                            <a href="@Url.Action("MyProgramsUser", "Home", new {programId = @program.Id, userId = ViewBag.User.ID} )" class="btn btn-primary">Go to program -> </a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


