﻿
@{
    ViewBag.Title = "MyCertificates";
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";
    var certificateList = ViewBag.Certificates;
    var error = ViewBag.Error;
}
<link href="~/Assets/css/jquery-ui.min.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $('.form-certificate-date').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "1930:2017",
            format: 'd.m.Y',
            lang: 'tr'
        });
        $('.form-expire-date').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "1930:2017",
            format: 'd.m.Y',
            lang: 'tr'
        });
    });

    var parseQueryString = function () {

        var str = window.location.search;
        var objURL = {};

        str.replace(
            new RegExp("([^?=&]+)(=([^&]*))?", "g"),
            function ($0, $1, $2, $3) {
                objURL[$1] = $3;
            }
        );
        return objURL;
    };
    var params = parseQueryString();

    var error = params["error"];

    if (typeof error !== "undefined") {
        var text = decodeURIComponent(error);
        alert(text);
    }
 
    
</script>
<h2>Your Certificates</h2>
<fieldset>

    <div class="form-group">
        <table class="table table-bordered table-striped table-hover table-condensed table-responsive">
            <thead>
                <tr>
                    <th>
                        Certificate Number
                    </th>
                    <th>
                        Certificate Name
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        Expire Date
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (certificateList.Count > 0)
                    {
                        foreach (var certificate in certificateList)
                        {
                            <tr>
                                <td>
                                    @certificate.CertificateNumber
                                </td>
                                <td>
                                    @certificate.CertificateName
                                </td>
                                <td>
                                    @certificate.StartDate
                                </td>
                                <td>
                                    @certificate.ExpireDate
                                </td>
                                <td>
                                    <a href="@Url.Action("DeleteCertificate", "Home", new {certificateNumber = @certificate.CertificateNumber})" onclick="return deleteItem()">Delete </a>
                                    <br/>
                                    @if(certificate.Filename != null)
                                    {
                                        <a href="~/Assets/Certificates/@certificate.Filename" target="_blank">Download Certificate</a>
                                    }
                                </td>
                            </tr>
                        }
                    }

                }

            </tbody>
        </table>
    </div>
</fieldset>

<h2>Add Certificate</h2>

<h4>Upload a certificate</h4>
<div class="form-group">
    @using (Html.BeginForm("UploadCertificate", "Workout", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" style="display: inline-block !important;" />
        <input type="submit" value="Upload" />
    }

</div>
<div class="form-group form-horizontal">
    <label class="col-md-4 control-label" for="form-trainer-certificate">Certificate ID</label>
    <div class="col-md-4">
        <input id="form-trainer-certificate-info" name="certificateFile" type="text" placeholder="Please upload your certificate file" class="form-control input-md" value="@Session["FileNameOfCertificate"]" readonly="readonly">
    </div>
</div>
<br /><br/>
<form class="form-horizontal create-certificate-form">
    <fieldset>

        <div class="form-group">
            <label class="col-md-4 control-label" for="certificate-name">Certificate Name</label>
            <div class="col-md-4">
                <input id="certificate-name" name="name" type="text" placeholder="ISSA" class="form-control input-md" required="">

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="certificate-number">Certificate Number</label>
            <div class="col-md-4">
                <input id="certificate-number" name="number" type="text" placeholder="703448" class="form-control input-md" required="">

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="certificate-name">Certificate Date</label>
            <div class="col-md-4">

                <input type="text" name="certificateDate" class="form-certificate-date form-control" placeholder="01/01/1990" id="form-certificate-date" autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="certificate-name">Expire Date</label>
            <div class="col-md-4">

                <input type="text" name="expireDate" class="form-expire-date form-control" placeholder="01/01/1990" id="form-expire-date" autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <input id="form-trainer-certificate" name="certificateId" type="hidden" class="form-control input-md" value="@Session["FileNameOfCertificate"]" required="" readonly="readonly">

            </div>
        </div>

    </fieldset>
    <a href="#" class="btn btn-primary btn-create-certificate btn">Add Certificate</a>
</form>


