﻿
@{
    ViewBag.Title = "MyProgramsUser";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var program = ViewBag.Program;
}
<style>
    body {
        width: 1000px;
        margin: auto;
    }
    .col-md-4 {
        margin: 7px !important;
        padding: 5px;
    }
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      var dataArray = new Array();
      var weightLogs = GetWeightChangeLogForProgram();
      
      dataArray.push(["Date", "Weight", "FatRatio", "MuscleRatio"]);
      var logs = weightLogs.WeightLogs;
      if (logs.length == 0) {
          dataArray.push(["", 0, 0, 0]);
      }
      for (i = 0; i < logs.length; i++) {
          dataArray.push([logs[i].LogDate, logs[i].Weight, logs[i].FatRatio, logs[i].MuscleRatio]);
      }
      
      function drawChart() {
          var data = google.visualization.arrayToDataTable(dataArray);
        var options = {
          title: 'Weight Changes of You',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
</script>
<h2>Program Detail and Weight Change Log</h2>
<form class="form-horizontal profile-form">
    <fieldset style="margin: 40px;">
        <br/>
        <div class="form-group ">
            <label class="col-md-4 control-label" for="form-program-Title">Title </label>
            <div class="col-md-4">
                <p class="form-text-info">@program.Title</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-program-subtitle">Subtitle</label>
            <div class="col-md-4">
                <p class="form-text-info">@program.Subtitle</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-program-information">Information</label>
            <div class="col-md-4">
                <p class="form-text-info">@program.Information</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-program-category">Category</label>
            <div class="col-md-4">
                <p class="form-text-info">@program.Category</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-program-level">Level</label>
            <div class="col-md-4">
                <p class="form-text-info">@program.Level</p>
            </div>
        </div>
    </fieldset>
    <h3>Weight Log Graph </h3>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
</form>
