﻿
@{
    ViewBag.Title = "MyWorkouts";
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";
}

<h2>My Workouts</h2>

<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Title
            </th>
            <th>
                Active
            </th>
            <th>
                Video File Name
            </th>
            <th>
                Category
            </th>
            <th>
                Class
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.Workout != null)
            {
                foreach (var workout in Model.Workout)
                {
                    <tr>
                        <td>
                            @workout.Name
                        </td>
                        <td>
                            @workout.Title
                        </td>
                        <td>
                            @workout.IsActive
                        </td>
                        <td>
                            Assets/Videos/@workout.Video
                        </td>
                        <td>
                            @workout.Category
                        </td>
                        <td>
                            @workout.Class
                        </td>
                        <td>
                            <a href="@Url.Action("EditWorkout", "Home", new {workoutID = @workout.ID})">Update </a><br />
                            <a href="@Url.Action("DeleteWorkout", "Home", new {workoutID = @workout.ID})" onclick="return deleteItem()">Delete </a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
