﻿
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var user = ViewBag.User;
}
<script>
    $(document).ready(function() {
 
        $('.form-profile-birthdate').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "1930:2017",
            format: 'd.m.Y',
            lang: 'tr'
        });
    });
</script>
<style>
    body {
            width: 1000px;
    margin: auto;
    }
</style>
<h2>Profile</h2>
<div class="form-group">
    <a href="@Url.Action("WeightLog","Home")" class="btn btn-success "><i class="fa fa-sign-out fa-fw"></i>Update Weight info</a>
</div>

<form class="form-horizontal profile-form">
    <fieldset>

        <div class="form-group ">
            <label class="col-md-4 control-label" for="form-profile-username">Username </label>
            <div class="col-md-4">
                <input id="form-profile-username" name="username" type="text" class="form-control input-md" required="" value="@user.Username">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-profile-email">Email</label>
            <div class="col-md-4">
                <input id="form-profile-email" name="email" type="text" class="form-control input-md" required="" value="@user.Email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-profile-name">Name</label>
            <div class="col-md-4">
                <input id="form-profile-name" name="name" type="text" class="form-control input-md" required="" value="@user.Name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-profile-surname">Surname</label>
            <div class="col-md-4">
                <input id="form-profile-surname" name="surname" type="text" class="form-control input-md" required="" value="@user.Surname">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Birthdate</label>
            <div class="col-md-4">
                <input type="text" name="birthdate" class="form-profile-birthdate form-control" placeholder="01/01/1990" id="form-birthdate" value="@user.Birthdate.ToString("dd-MM-yyyy")">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label"> Gender </label>
            <select name="gender" class="form-profile-select form-profile-gender" id="form-gender" autocomplete="off" style="margin-top: 5px; margin-left: 15px; float: left;">
                <option value="0">Male</option>
                <option value="1">Female</option>
            </select>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Security Question</label>
            <div class="col-md-4">
                <input type="text" name="question" class="form-profile-question form-control" id="form-profile-question" autocomplete="off" value="@user.SecurityQuestion" required="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Security Answer</label>
            <div class="col-md-4">
                <input type="text" name="answer" class="form-profile-answer form-control" id="form-profile-answer" autocomplete="off" value="@user.SecurityAnswer" required="">
            </div>
        </div>
        <div class="form-group">
            <a href="#" class="btn btn-danger btn-update-profile"><i class="fa fa-sign-out fa-fw"></i>Save</a>
        </div>

    </fieldset>
</form>
<link href="~/Assets/css/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
