﻿
@{
    ViewBag.Title = "ProgramDetail";
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";
    var workouts = ViewBag.SelectedWorkouts;
    var program = ViewBag.Program.Program;
    var comments = ViewBag.Comments;
}

<h2>ProgramDetail</h2>

<style>
    .panel {
        position: relative;
    }

        .panel > .panel-heading:after, .panel > .panel-heading:before {
            position: absolute;
            top: 11px;
            left: -16px;
            right: 100%;
            width: 0;
            height: 0;
            display: block;
            content: " ";
            border-color: transparent;
            border-style: solid solid outset;
            pointer-events: none;
        }

        .panel > .panel-heading:after {
            border-width: 7px;
            border-right-color: #f7f7f7;
            margin-top: 1px;
            margin-left: 2px;
        }

        .panel > .panel-heading:before {
            border-right-color: #ddd;
            border-width: 8px;
        }

    h1 {
        padding: .2em;
        margin: 0;
    }

    #products {
        float: left;
        width: 500px;
        margin-right: 2em;
    }

    #cart {
        width: 200px;
        float: left;
        margin-top: 1em;
    }

        #cart ol {
            margin: 0;
            padding: 1em 0 1em 3em;
        }
</style>
<form class="form-horizontal trainer-program-comment-form">
    <fieldset>

        <div class="form-group">
            <label class="col-md-4 control-label" for="form-program-title">Title</label>
            <div class="col-md-4">
                <input id="form-program-title" name="form-program-title" type="text" value="@program.Title" class="form-control input-md" disabled="disabled">

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-program-subtitle">Subtitle</label>
            <div class="col-md-4">
                <input id="form-program-subtitle" name="form-program-subtitle" type="text" value="@program.Subtitle" class="form-control input-md" disabled="disabled">

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-program-information">Information</label>
            <div class="col-md-4">
                <textarea class="form-control" id="form-program-information" name="form-program-information" disabled="disabled">@program.Information</textarea>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-md-4 control-label" for="form-program-selectedworkouts">Workouts of Program</label>

            <div id="AllWorkouts" class="col-md-4">

                <h4>All Workouts of Program</h4>
                <table class="table table-bordered table-striped table-hover table-condensed table-responsive" id='table-draggable1'>

                    <tbody class="connectedSortable">
                        <tr>
                            <th>
                                Workout
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Class
                            </th>
                            <th>
                                Period
                            </th>
                            <th>
                                Repeat
                            </th>
                        </tr>
                        @{
                            if (workouts != null)
                            {
                                foreach (var workout in workouts)
                                {
                                    <tr>
                                        <td data-id="@workout.Workout.ID.ToString()">
                                            @workout.Workout.Title
                                        </td>
                                        <td>
                                            @Enum.GetName(typeof(Workout.Business.Models.Enums.WorkoutCategory), @workout.Workout.Category)
                                        </td>
                                        <td>
                                            @Enum.GetName(typeof(Workout.Business.Models.Enums.WorkoutClass), @workout.Workout.WClass)
                                           
                                        </td>
                                        <td>
                                            <input type="number" class="workout-period" required="" style="width: 50px;" value="@workout.Period" disabled="disabled" min="0" />
                                        </td>
                                        <td>
                                            <input type="number" class="workout-repeat" required="" style="width: 50px;" value="@workout.Repeat" disabled="disabled" min="0"/>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <input type="hidden" class="program-id" value="@program.Id" />
        </div>
        <div class="container">
            <label class="col-md-4 control-label">Comments of Program</label>

            <table class="col-md-6">
                <tbody>

                @{
                    if (comments != null)
                    {
                        foreach (var comment in comments)
                        {
                            <tr>
                                <td>
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <strong>@comment.Item1</strong>
                                                </div>
                                                <div class="panel-body">
                                                    <p style="word-break: break-word">
                                                       @comment.Item2 
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a href="#" data-commentId="@comment.Item3" class="comment-delete-btn" >Delete</a>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <input type="text" class="form-control comment-text" required="" name="comment" placeholder="Your Comment ..."/>
                            </td>
                            <td>
                                <a href="#" class="btn btn-danger btn-add-comment"><i class="fa fa-sign-out fa-fw"></i>Add Comment</a>
                            </td>
                        </tr>
                    }

                }


            </table>

        </div>
      </fieldset>
</form>



