﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workout - Register</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/style.css" rel="stylesheet" />
    <link href="~/Assets/form-elements.css" rel="stylesheet" />
    <link href="~/Assets/css/jquery-ui.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Assets/ico/apple-touch-icon-57-precomposed.png">
    <script src="~/Assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/Assets/js/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.form-birthdate').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1930:2017",
                format: 'd.m.Y',
                lang: 'tr'
            });
        });
    </script>
</head>
<body>
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>Workout</strong> - Register</h1>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Register to Workout</h3>
                                <p>Please fiil the form to sign up!:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        <div class="form-bottom">

                            <form role="form" class="register-form">
                                <div class="form-group">
                                    <label class="sr-only" for="form-name">Name</label>
                                    <input type="text" name="name" placeholder="Name..." class="form-name form-control" id="form-name" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-surname">Surname</label>
                                    <input type="text" name="surname" placeholder="Surname..." class="form-surname form-control" id="form-surname" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-username">Username</label>
                                    <input type="text" name="username" placeholder="Username..." class="form-username form-control" id="form-username" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">Password</label>
                                    <input type="password" name="password" placeholder="******" class="form-password form-control" id="form-password" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-email">E-Mail</label>
                                    <input type="text" name="email" placeholder="example@example.com" class="form-email form-control" id="form-email" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-birthdate">Birth Date</label>
                                    <input type="text" name="birthdate" class="form-birthdate form-control" placeholder="01/01/1990" id="form-birthdate" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label for="form-gender"> Gender : </label>
                                    <select name="gender" class="form-select form-gender" id="form-gender" autocomplete="off">
                                        <option value="0">Male</option>
                                        <option value="1">Female</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-question">Security Question</label>
                                    <input type="text" name="question" placeholder="Security Question ..." class="form-question form-control" id="form-question" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-answer">Security Answer</label>
                                    <input type="text" name="answer" placeholder="Security Answer ..." class="form-answer form-control" id="form-answer" autocomplete="off">
                                </div>
                                <a href="#" class="btn-register btn">Sign up!</a>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src="~/Assets/js/jquery.backstretch.min.js"></script>
    <script src="~/Assets/js/scripts.js"></script>
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/Sha1.js"></script>
    <script src="~/Assets/js/Functions.js"></script>
    <script src="~/Assets/js/jquery.validate.min.js"></script>
    <!--[if lt IE 10]>
        <script src="~/Assets/js/placeholder.js"></script>
    <![endif]-->

</body>

</html>