﻿@{
    Layout = null;
    var result = ViewBag.Result;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workout - Security Control</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/assets/font-awesome/css/font-awesome.min.css">
    <link href="~/Assets/style.css" rel="stylesheet" />
    <link href="~/Assets/form-elements.css" rel="stylesheet" />

    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Assets/ico/apple-touch-icon-57-precomposed.png">

</head>
<body>
    <div class="top-content">
        @if (result == null)
        {
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Workout</strong> - Forgot Password</h1>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3> Forgot Password </h3>
                                    <p>Enter your email address : </p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-key"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                @using (Html.BeginForm("SecurityCheck", "Home", FormMethod.Post, null))
                                {
                                    <div class="form-group">
                                        <label for="form-email">Email</label>
                                        <input type="text" name="email" placeholder="Email..." class="form-email form-control" id="form-email">
                                    </div>

                                    <input type="submit" value="Next" class="btn btn-success" />
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
        else
        {
            if (result)
            {
                <div class="inner-bg">
                    <div class="container">
                        <div class="row">
                            <div class="alert alert-success fade in">
                                <a href="/Home/Login" class="close" data-dismiss="alert">&times;</a>
                                <strong>Success!</strong> Your password has been changed successfully.
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="inner-bg">
                    <div class="container">
                        <div class="row">
                            <div class="alert alert-danger fade in">
                                <a href="/Home/SecurityControl" class="close" data-dismiss="alert">&times;</a>
                                <strong>Error!</strong> A problem has been occurred while password reset. Please Try Again.
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <script src="~/Assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/Assets/js/jquery.backstretch.min.js"></script>
    <script src="~/Assets/js/scripts.js"></script>
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/Sha1.js"></script>
    <script src="~/Assets/js/Functions.js"></script>

    <!--[if lt IE 10]>
        <script src="~/Assets/js/placeholder.js"></script>
    <![endif]-->

</body>

</html>