﻿
@{
    ViewBag.Title = "TrainerDetail";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var trainer = ViewBag.Trainer;
    var certificates = ViewBag.Certificates;
}
<style>
    body {
    width: 1000px;
    margin: auto;
}
</style>
<h2>Trainer Detail</h2>

<form class="form-horizontal profile-form">
    <fieldset>
        <div class="form-group ">
            <label class="col-md-4 control-label" for="form-profile-username">Username </label>
            <div class="col-md-4">
                <input id="form-profile-username" name="username" type="text" class="form-control input-md" disabled="disabled" value="@trainer.Username">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-profile-email">Email</label>
            <div class="col-md-4">
                <input id="form-profile-email" name="email" type="text" class="form-control input-md" disabled="disabled"  value="@trainer.Email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-profile-name">Name</label>
            <div class="col-md-4">
                <input id="form-profile-name" name="name" type="text" class="form-control input-md"  disabled="disabled" value="@trainer.Name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-profile-surname">Surname</label>
            <div class="col-md-4">
                <input id="form-profile-surname" name="surname" type="text" class="form-control input-md" disabled="disabled" value="@trainer.Surname">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-profile-information">About</label>
            <div class="col-md-4">
                <input id="form-profile-information" name="information" type="text" class="form-control input-md" disabled="disabled" value="@trainer.TrainerInfo">
            </div>
        </div>

        <h3>Certificates</h3>
        <div class="list-group">
            @foreach (var certificate in certificates)
            {
                var filename = "";
                if (@certificate.Filename != null)
                {
                    <a href="~/Assets/Certificates/@certificate.Filename" class="list-group-item active" target="_blank">
                        <h4 class="list-group-item-heading">@certificate.CertificateName</h4>
                        <p class="list-group-item-text">@certificate.CertificateNumber</p>
                    </a>
                    <br />
                }
                else
                {
                    <a class="list-group-item active">
                        <h4 class="list-group-item-heading">@certificate.CertificateName</h4>
                        <p class="list-group-item-text">@certificate.CertificateNumber</p>
                    </a>
                    <br />
                }
            }
        </div>
    </fieldset>
</form>