﻿
@{
    ViewBag.Title = "TrainerWeightLogOfUser";
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";
}
<style>
    body {
        margin: auto;
    }

    .col-md-4 {
        margin: 7px !important;
        padding: 5px;
    }
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    var dataArray = new Array();
    var weightLogs = GetWeightChangeLogForProgram();

    dataArray.push(["Date", "Weight", "FatRatio", "MuscleRatio"]);
    var logs = weightLogs.WeightLogs;
    if (logs.length == 0) {
        dataArray.push(["", 0, 0, 0]);
    }
    for (i = 0; i < logs.length; i++) {
        dataArray.push([logs[i].LogDate, logs[i].Weight, logs[i].FatRatio, logs[i].MuscleRatio]);
    }

    function drawChart() {
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {
            title: 'Weight Changes of You',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
    }
</script>
<h2> Weight Change Log </h2>

<h3>Weight Log Graph </h3>
<div id="curve_chart" style="width: 900px; height: 500px; margin: auto;"></div>

