﻿@using Workout.Data

@{
    ViewBag.Title = "WeightLog";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var log = ViewBag.WeightLog;
    var programs = ViewBag.Programs;
}
<style>
    body {
        width: 1000px;
        margin: auto;
    }
</style>
<h2>Weight Log</h2>

<form class="form-horizontal weightlog-form">
    <fieldset>
        <div class="form-group ">
            <label class="col-md-4 control-label" for="form-weightlog-weight">Select Program : </label>
            <div class="col-md-4">
                <select id="selectProgram">
                    <option value="0"> Select Program </option>
                    @foreach (var program in programs)
                    {
                        <option value="@program.ID">@program.Title</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-md-4 control-label" for="form-weightlog-weight">Weight </label>
            <div class="col-md-4">
                <input id="form-weightlog-weight" name="weight" type="text" class="form-control input-md" required="" value="@log.WeightLoss"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-weightlog-fatratio">Fat Ratio</label>
            <div class="col-md-4">
                <input id="form-weightlog-fatratio" name="fatratio" type="text" class="form-control input-md" required="" value="@log.FatRatio"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="form-weightlog-muscleratio">Muscle Ratio</label>
            <div class="col-md-4">
                <input id="form-weightlog-muscleratio" name="muscleratio" type="text" class="form-control input-md" required="" value="@log.MuscleRatio" />
            </div>
        </div>
        <div class="form-group">
            <a href="#" class="btn btn-danger btn-update-weightlog"><i class="fa fa-sign-out fa-fw"></i>Save</a>
        </div>

    </fieldset>
</form>
