﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Workouts - Be Fit! - @ViewBag.Title</title>

    <link href="~/Assets/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/home.css" rel="stylesheet"/>
    <link href="~/Assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/style.css" rel="stylesheet" />
    <link href="~/Assets/form-elements.css" rel="stylesheet" />
    <link href="~/Assets/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="~/Assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/Home.js"></script>
    <script src="~/Assets/js/jquery.validate.min.js"></script>
    <script src="~/Assets/js/Functions.js"></script>
    <script src="~/Assets/js/moment.min.js"></script>
    <link href="~/Assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Assets/js/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            if ($('.table').has("tr").length > 0) {

                $('th').click(function () {
                    var table = $(this).parents('table').eq(0);
                    var rows = table.find("tr:not(:has('th'))").toArray().sort(comparer($(this).index()));
                    this.asc = !this.asc;
                    if (!this.asc) { rows = rows.reverse() }
                    for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
                });

                function comparer(index) {
                    return function (a, b) {
                        var valA = getCellValue(a, index), valB = getCellValue(b, index);
                        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB);
                    };
                }
                function getCellValue(row, index) { return $(row).children('td').eq(index).html() }

                $('table').each(function () {
                    var table = $(this);
                    var headers = table.find('th').length;
                    var filterrow = $('<tr>').insertAfter($(this).find('th:last()').parent());
                    for (var i = 0; i < headers; i++) {
                        if (i < headers - 1) {
                            filterrow.append($('<th>').append($('<input>').attr('type', 'text').attr("placeholder", "Filter text").keyup(function () {
                                table.find('tr').show();
                                filterrow.find('input[type=text]').each(function () {
                                    var index = $(this).parent().index() + 1;
                                    var filter = $(this).val() != '';
                                    $(this).toggleClass('filtered', filter);
                                    if (filter) {
                                        var el = 'td:nth-child(' + index + ')';
                                        var criteria = ":contains('" + $(this).val() + "')";
                                        table.find(el + ':not(' + criteria + ')').parent().hide();
                                    }
                                });
                            })));
                        } else {
                            filterrow.append($('<th>').append($('<span>')));
                        }
                    }
                    filterrow.append($('<th>').append($('<input>').attr('type', 'button').val('Clear Filter').click(function () {
                        $(this).parent().parent().find('input[type=text]').val('').toLowerCase().toggleClass('filtered', false);
                        table.find('tr').show();
                    })));
                });
            }
        });
    </script>
    <style>
        input {
            width: 150px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">Workouts - Be Fit!</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @{
                    if (ViewBag.Username != null)
                    {
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="@Url.Action("AllPrograms", "Home")">Programs</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Trainers", "Home")">Trainers</a>
                            </li>

                        </ul>
                    }
                }
                    <ul class="nav navbar-nav navbar-right">
                    @{
                        if (ViewBag.Username != null)
                        {
                            <span class="profile-name">Welcome, @ViewBag.Username</span>

                            <a href="@Url.Action("Profile", "Home")" class="btn btn-primary profile-btn"><i class="fa fa-user"></i> Profile</a>

                            <a href="@Url.Action("Logout", "Business")" class="btn btn-danger profile-btn"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Login", "Home")" class="btn btn-primary profile-btn"><i class="fa fa-sign-out fa-fw"></i> Login</a>
                        }
                    }

                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <div class="container">
        
    </div>
    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright Workouts &copy; 2017</p>
            </div>
        </div>
    </footer>
</body>
</html>
