﻿<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Say Your Idea Management Panel">
    <meta name="author" content="Gokhan Yilmaz Gokun">


    <title>Workout - @ViewBag.Title - Trainer Office</title>

    <link href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="~/Assets/dist/css/timeline.css" rel="stylesheet">
    <link href="~/Assets/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/Assets/bower_components/morrisjs/morris.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="~/Assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <link href="~/Assets/style.css" rel="stylesheet" />
    @*<link href="~/Assets/form-elements.css" rel="stylesheet" />*@
    <link href="~/Assets/css/jquery-ui.min.css" rel="stylesheet" />

    <script src="~/Assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery.validate.min.js"></script>
    <script src="~/Assets/js/moment.min.js"></script>
    <script src="~/Assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Assets/js/jquery-ui.min.js"></script>
    <script src="~/Assets/js/Functions.js"></script>

    <script src="~/Assets/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/Assets/js/validator.min.js"></script>
    <script src="~/Assets/bower_components/raphael/raphael-min.js"></script>
    <script src="~/Assets/bower_components/morrisjs/morris.min.js"></script>
    <script src="~/Assets/dist/js/sb-admin-2.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    @if (false)
    {
        <script src="../../Assets/js/jquery-1.7.2-vsdoc.js" type="text/javascript"></script>
    }

    <script>
    $(document).ready(function () {
        if ($('.table').has("tr").length > 0) {

            $('th').click(function () {
                var table = $(this).parents('table').eq(0);
                var rows = table.find("tr:not(:has('th'))").toArray().sort(comparer($(this).index()));
                this.asc = !this.asc;
                if (!this.asc) { rows = rows.reverse() }
                for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
            });

            function comparer(index) {
                return function (a, b) {
                    var valA = getCellValue(a, index), valB = getCellValue(b, index);
                    return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB);
                };
            }
            function getCellValue(row, index) { return $(row).children('td').eq(index).html() }

            $('table').each(function () {
                var table = $(this);
                var headers = table.find('th').length;
                var filterrow = $('<tr>').insertAfter($(this).find('th:last()').parent());
                for (var i = 0; i < headers; i++) {
                    if (i < headers - 2) {
                        filterrow.append($('<th>').append($('<input>').attr('type', 'text').attr("placeholder", "Filter text").keyup(function () {
                            table.find('tr').show();
                            filterrow.find('input[type=text]').each(function () {
                                var index = $(this).parent().index() + 1;
                                var filter = $(this).val() != '';
                                $(this).toggleClass('filtered', filter);
                                if (filter) {
                                    var el = 'td:nth-child(' + index + ')';
                                    var criteria = ":contains('" + $(this).val() + "')";
                                    table.find(el + ':not(' + criteria + ')').parent().hide();
                                }
                            });
                        })));
                    } else {
                        filterrow.append($('<th>').append($('<span>')));
                    }
                }
                filterrow.append($('<th>').append($('<input>').attr('type', 'button').val('Clear Filter').click(function () {
                    $(this).parent().parent().find('input[type=text]').val('').toLowerCase().toggleClass('filtered', false);
                    table.find('tr').show();
                })));
            });
        }
    });
    </script>
    <style>
        input {
            width: 150px;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">Welcome, @ViewBag.Username</a>
            </div>
            <ul class="nav navbar-top-links navbar-right" style="margin-right: 15px; margin-top: 5px;">

              
              
                            <a href="@Url.Action("TrainerProfile", "Home")"><i class="fa fa-user fa-fw" style="margin-left: 10px; margin-top: 10px;"></i>Profile</a>
                       
                    
                            <a href="@Url.Action("Logout", "Business")"><i class="fa fa-sign-out fa-fw" style="margin-left: 10px; margin-top: 10px;"></i>Logout</a>
                     
                 

               

            </ul>


            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav in" id="side-menu">
                        <li>
                            <a href="@Url.Action("TrainerMyStatistics", "Home")" class="active"><i class="fa fa-line-chart" aria-hidden="true"></i> My Statistics</a>      
                        </li>
                        <li>
                            <a href="@Url.Action("MyWorkouts", "Home")" class="active"><i class="fa fa-list-ol fa-fw"></i> My Workouts</a>                         
                        </li>
                        <li>
                            <a href="@Url.Action("AddWorkout", "Home")" class="active"><i class="fa fa-plus fa-fw"></i> Add Workout</a>
                        </li>
                        <li>
                            <a href="@Url.Action("MyPrograms", "Home")" class="active"><i class="fa fa-list-ol fa-fw"></i> My Programs</a>
                        </li>
                        <li>
                            <a href="@Url.Action("AddProgram", "Home")" class="active"><i class="fa fa-plus fa-fw"></i> Add Program</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ActivateProgram", "Home")" class="active"><i class="fa fa-list-ol fa-fw"></i> My InActive Programs</a>
                        </li>
                        <li>
                            <a href="@Url.Action("MyCertificates", "Home")" class="active"><i class="fa fa-address-card"></i> My Certificates</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-wrapper" style="min-height: 914px;">
            @RenderBody()
        </div>


    </div>

  



</body>
</html>
