﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = (!String.IsNullOrEmpty(ViewBag.StatusCode)) ? ViewBag.StatusCode : "500 Error";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style type="text/css">
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .wrap {
            width: 1000px;
            margin: 0 auto;
        }

        .logo {
            width: 430px;
            position: absolute;
            top: 25%;
            left: 35%;
        }

        p a {
            color: #eee;
            font-size: 13px;
            margin-left: 30px;
            padding: 5px;
            background: #FF3366;
            text-decoration: none;
            -webkit-border-radius: .3em;
            -moz-border-radius: .3em;
            border-radius: .3em;
        }

            p a:hover {
                color: #fff;
            }
    </style>
</head>
<body>
    <div class="wrap">
        <div class="logo">
            <img src="~/Assets/img/404.png" />
            <p><a href="@Url.Action("Index","Home")">Go back to Home</a></p>
        </div>
    </div>
</body>
</html>


