﻿@{
    ViewBag.Title = "ErrorPage";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <meta name="msapplication-TileColor" content="#5bc0de" />
    <meta name="msapplication-TileImage" content="assets/img/metis-tile.png" />
</head>
<body class="error">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <div class="logo">

                <img class="error-image" src="~/Assets/img/404.png" />
            </div>
            <p class="lead text-muted">Nope, not here what you are search.</p>
            <div class="clearfix"></div>

            <div class="clearfix"></div>
            <br>
            <div class="col-lg-6 col-lg-offset-3">
                <div class="btn-group btn-group-justified">
                    <a href="@Url.Action("Index","Admin")" class="btn btn-info">Go to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

