﻿
@{
    ViewBag.Title = "ProgramDeactivate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var programs = ViewBag.ProgramList;
}

<link href="~/Assets/css/jquery-ui.min.css" rel="stylesheet" />
<h2>Program Deactivate/Activate</h2>

<fieldset>
    <div class="form-group has-feedback">
        <label for="search" class="sr-only">Search</label>
        <input type="text" class="form-control program-deactive-search-input" name="search" id="search" placeholder="Program Title..." style="float: left;width: 80%;margin: 10px;">
        <input type="button" class="btn program-deactive-search-btn" value="Search" style="margin:10px" />
    </div>
</fieldset>

<fieldset>

    <div class="form-group">
        <table class="table table-bordered table-striped table-hover table-condensed table-responsive">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Subtitle
                    </th>
                    <th>
                        Program Level
                    </th>
                    <th>
                        Program Category
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (programs.Count > 0)
                    {
                        foreach (var program in programs)
                        {
                            <tr>
                                <td>
                                    @program.Title
                                </td>
                                <td>
                                    @program.Subtitle
                                </td>
                                <td>
                                    @program.ProgramLevel
                                </td>
                                <td>
                                    @program.ProgramCategory
                                </td>
                                <td>
                                    @if (@program.IsActive == 1)
                                    {
                                        <a href="@Url.Action("BanProgram", "Admin", new {programId = @program.ID})" onclick="return deleteItem()">Deactivate </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("ActivateBannedProgram", "Admin", new {programId = @program.ID})" onclick="return deleteItem()">Activate </a>
                                    }
                                </td>
                            </tr>
                        }
                    }

                }

            </tbody>
        </table>
    </div>
</fieldset>
