﻿
@{
    ViewBag.Title = "RegisteredUsers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var userList = ViewBag.RegisteredUsers;
    var programId = ViewBag.ProgramId;
}
<style>
    body {
        margin: auto;
    }
</style>
<h2>Registered Users</h2>

<div class="container">
    <div class="row text-center user-list" style="margin-top: 50px;">

        <div class="list-group">
            @foreach (var user in userList)
            {
                <a class="list-group-item " style="width: 600px; float: left; margin-top: 10px; margin-left: 35px;">
                    <h4 class="list-group-item-heading">@user.Username</h4>
                    <p class="list-group-item-text">@user.Email</p>
                </a>
                <a href="@Url.Action("WeightLogOfUser", "Admin", new {programId = programId, userId = @user.ID})" class="list-group-item active" style="width: 250px; float: left; margin-left: 50px; margin-top: 17px;">
                    <p class="list-group-item-heading"> See Weight Logs-></p>
                </a>
                <br />
            }
        </div>
    </div>
</div>