﻿
@{
    ViewBag.Title = "RegisterRequests";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var userList = ViewBag.UserList;
}

<h2>Activate Users</h2>

<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
    <thead>
        <tr>
            <th>
                USERNAME
            </th>
            <th>
                EMAIL
            </th>
            <th>
                NAME
            </th>
            <th>
                SURNAME
            </th>
            <th>
                ACTION
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (userList != null)
            {
                foreach (var user in userList)
                {
                    <tr>
                        <td>
                            @user.Username
                        </td>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            @user.Name
                        </td>
                        <td>
                            @user.Surname
                        </td>
                        <td>
                            <a href="@Url.Action("ActivateUser", "Admin", new {userID = @user.ID})"> Activate </a>
                        </td>
                    </tr>
                }
            }

        }
   
    </tbody>
</table>

