﻿
@{
    ViewBag.Title = "TrainerStatistics";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var trainersPrograms = ViewBag.ProgramsOfTrainer;
    var registeredUsers = ViewBag.RegisteredUsers;
}

<style>
    body {
        margin: auto;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('.startDate').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "1930:2017",
            format: 'd.m.Y',
            lang: 'tr'
        });
        $('.endDate').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "1930:2017",
            format: 'd.m.Y',
            lang: 'tr'
        });
    });
</script>

<h2>Trainer Statistics</h2>
<div class="container">
    <label class="col-md-4 control-label" for="form-weightlog-weight">Select Program : </label>
    <div class="col-md-4">
        <select id="selectProgram" style="margin-top: 10px;">
            <option value="0"> All Programs </option>
            @foreach (var program in trainersPrograms)
            {
                <option value="@program.Id">@program.Title</option>
            }
        </select>
        <input type="text" name="startDate" class="startDate form-control" placeholder="Start Date : 01/01/2017" id="startDate" autocomplete="off" style="margin-top: 10px;" />
        <input type="text" name="endDate" class="endDate form-control" placeholder="End Date : 02/01/2017" id="endDate" autocomplete="off" style="margin-top: 10px;" />
        <div class="get-button" style="margin-top: 10px;">
            <button type="button" class="btn btn-primary" onclick="TrainerStatisticsEndUser();">Get Programs</button>
        </div>
    </div>


    <div class="row text-center program-list" style="margin-top: 50px; ">

        <div class="list-group">
            @foreach (var program in trainersPrograms)
            {
                int userCount = 0;
                foreach (var tuple in registeredUsers)
                {
                    if (tuple.Item1 == program.Id)
                    {
                        userCount = tuple.Item2;
                    }
                }
                <a class="list-group-item " style="width: 600px; float: left; margin-top: 10px; margin-left: 35px;">
                    <table class="table" style="margin-bottom: 0px!important;">
                        <tr>
                            <td style="width: 100px;">
                                <h4 class="list-group-item-heading">@program.Title</h4>
                                <p class="list-group-item-text">@program.Subtitle</p>
                            </td>
                            <td style="width: 100px;">
                                <p>Registered Users</p>
                                <p>@userCount</p>
                            </td>
                        </tr>
                    </table>
                </a>
                <a href="@Url.Action("RegisteredUsers", "Admin", new {programId = @program.Id} )" class="list-group-item active" style="width: 250px; float: left; margin-left: 50px; margin-top: 35px;">
                    <p class="list-group-item-heading"> See Registered Users -></p>
                </a>
                    <br />
            }
        </div>
    </div>
</div>

