﻿
@{
    ViewBag.Title = "TrainerCertificates";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var certificateList = ViewBag.Certificates;
}

<link href="~/Assets/css/jquery-ui.min.css" rel="stylesheet" />
<h2>Trainer Certificates</h2>

<fieldset>
    <div class="form-group has-feedback">
        <label for="search" class="sr-only">Search</label>
        <input type="text" class="form-control certificate-search-input" name="search" id="search" placeholder="Username..." style="float: left;width: 80%;margin: 10px;">
       <input type="button" class="btn certificate-search-btn" value="Search" style="margin:10px"/>
    </div>
</fieldset>

<fieldset>

    <div class="form-group">
        <table class="table table-bordered table-striped table-hover table-condensed table-responsive">
            <thead>
                <tr>
                    <th>
                        Certificate Number
                    </th>
                    <th>
                        Certificate Name
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        Expire Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (certificateList.Count > 0)
                    {
                        foreach (var certificate in certificateList)
                        {
                            <tr>
                                <td>
                                    @certificate.CertificateNumber
                                </td>
                                <td>
                                    @certificate.CertificateName
                                </td>
                                <td>
                                    @certificate.StartDate
                                </td>
                                <td>
                                    @certificate.ExpireDate
                                </td>
                            </tr>
                        }
                    }

                }

            </tbody>
        </table>
    </div>
</fieldset>

