﻿
@{
    ViewBag.Title = "Trainers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var trainers = ViewBag.Trainers;
    var countsOfTrainer = ViewBag.Counts;
}

<style>
    #custom-search-input {
        margin: 0;
        margin-top: 10px;
        padding: 0;
    }

        #custom-search-input .search-query {
            padding-right: 3px;
            padding-right: 4px \9;
            padding-left: 3px;
            padding-left: 4px \9;
            /* IE7-8 doesn't have border-radius, so don't indent the padding */
            margin-bottom: 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        #custom-search-input button {
            border: 0;
            background: none;
            /** belows styles are working good */
            padding: 2px 5px;
            margin-top: 2px;
            position: relative;
            left: -28px;
            /* IE7-8 doesn't have border-radius, so don't indent the padding */
            margin-bottom: 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            color: #D9230F;
        }

    .search-query:focus + button {
        z-index: 3;
    }
</style>
<div class="container">
    <h2>Trainers</h2>
    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <input type="text" class="search-query form-control" placeholder="Username" />
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button" onclick="trainerSearchAdmin()">
                    <span class="fa fa-search "></span>
                </button>
            </span>
        </div>
    </div>
    <br />
    <div class="list-group">
        @foreach (var trainer in trainers)
        {
            int programCout = 0;
            int commentCount = 0;

            foreach (var tuple in countsOfTrainer)
            {
                if (tuple.Item1 == trainer.ID)
                {
                    programCout = tuple.Item2;
                    commentCount = tuple.Item3;
                }
            }
            <a href="@Url.Action("TrainerDetail", "Admin", new {trainerId = trainer.ID})" class="list-group-item " style="width: 700px; float: left; margin-top: 10px; margin-left: 35px;">
                <table class="table" style="margin-bottom: 0px!important;">
                    <tr>
                        <td>
                            <h4 class="list-group-item-heading">@trainer.Username</h4>
                            <p class="list-group-item-text">@trainer.Email</p>
                        </td>
                        <td>
                            <p>Total Programs</p>
                            <p>@programCout</p>
                        </td>
                        <td>
                            <p>Total Comments</p>
                            <p>@commentCount</p>
                        </td>
                    </tr>
                </table>
            </a>
            <a href="@Url.Action("TrainerStatistics", "Admin", new {trainerId = trainer.ID})" class="list-group-item active" style="width: 250px; float: left; margin-left: 50px; margin-top: 30px;">
                <p class="list-group-item-heading"> Go To Statistics Page --></p>
            </a>
            <br />
        }
    </div>
</div>

