﻿
@{
    ViewBag.Title = "UserDeactivate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var users = ViewBag.UserList;
}
<link href="~/Assets/css/jquery-ui.min.css" rel="stylesheet" />
<h2>User Deactive</h2>

<fieldset>
    <div class="form-group has-feedback">
        <label for="search" class="sr-only">Search</label>
        <input type="text" class="form-control user-deactive-search-input" name="search" id="search" placeholder="Username..." style="float: left;width: 80%;margin: 10px;">
        <input type="button" class="btn user-deactive-search-btn" value="Search" style="margin:10px" />
    </div>
</fieldset>

<fieldset>

    <div class="form-group">
        <table class="table table-bordered table-striped table-hover table-condensed table-responsive">
            <thead>
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Surname
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (users.Count > 0)
                    {
                        foreach (var user in users)
                        {
                            <tr>
                                <td>
                                    @user.Username
                                </td>
                                <td>
                                    @user.Email
                                </td>
                                <td>
                                    @user.Name
                                </td>
                                <td>
                                    @user.Surname
                                </td>
                                <td>
                                    <a href="@Url.Action("BanUser", "Admin", new {userId = @user.ID})" onclick="return deleteItem()">Deactivate </a>
                                </td>
                            </tr>
                        }
                    }

                }

            </tbody>
        </table>
    </div>
</fieldset>